* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
header {
    height: 100%;
    width: 100%;
    float: left;
    background: navy;
    padding: 0 20px;
    color: #fff;
}
.brand-logo {
    max-width: 75px;
    float: left;
    /*padding: 14px 0px;*/
}
.brand-logo img {
    max-width: 100%;
}
.navigation {
    margin: 0px;
    float: right;
}
.navigation li {
    list-style: none;
    float: left;
    width: 100%;
}

.show-menu-btn,
.hide-menu-btn {
    /*transition: 0.4s;*/
    font-size: 30px;
    cursor: pointer;
    display: block;
}
.show-menu-btn {
    margin: 0px;
    float: right;
}
.show-menu-btn i {
    line-height: 50px;
}
.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #00ff0a;
}
#toggle-btn {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.navigation {
    position: fixed;
    width: 100%;
    /*height: 100vh;*/
    background: navy;
    top: -100%;
    left: 0;
    padding: 10px 0px;
    /*transition: 1s;*/
}

.navigation li a {
    color: #fff;
    padding: 5px 15px;
    text-align: left;
    display: block;
    text-decoration: none;
}

.navigation li a i {
    width: auto;
    font-size: 20px;
}

.hide-menu-btn {
    position: absolute;
    top: 15px;
    right: 20px;
}
#toggle-btn:checked ~ nav .navigation {
    top: 0px;
}

/*-- Responsive CSS --*/
@media screen and (min-width:767px) {
    .navigation {
        top:0px;
        left:auto;
        right:0px;
        width:auto;
    }
    .navigation li {
        width: auto;
    }
    .navigation li a {
        text-align: center;
    }
    .navigation li a i {
        width: 100%;
        margin-bottom: 7px;
    }
.show-menu-btn,
.hide-menu-btn {
    display: none;
}
}
